name: Python

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
    - name: Install `hotaru` and dependencies
      run: |
        pip install -U pip
        pip install --group dev .
    - name: Lint
      run: ruff check
    - name: Check format
      run: ruff format --check
    - name: Run type checks
      run: mypy .
    - name: Run tests
      run: pytest
